* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
html {
  scroll-behavior: smooth;
  width: 100vw;
}
body {
  overflow-x: hidden;

  width: 100vw;
}
.page {
  height: 100vh;
  width: 100vw;
}
section {
  /* The image used */
  background-image: url("http://oranjebitter-rotterdam.nl/images/ob-stayhome.png");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*intro*/
.section1 {
  color: white;
  font-size: 2px;
  font-family: "Chelsea Market", cursive;
}
.section1 a {
  font-size: 20px;
}
.intro-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 600px;
}
.intro-section img {
  transition: all 0.5 ease;
  object-fit: cover;
  position: relative;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.342);
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 248, 143);
  z-index: -1;
  transition: all 0.5 ease;
}
.logotext {
  position: absolute;
  color: white;
  font-size: 3rem;
  text-align: center;
  font-family: "Chelsea Market", cursive;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
/*page1*/
.page1 {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
}
.right {
  padding: 60px;
  width: 50%;
}
.contact {
  margin-top: 20px;
}
.left {
  padding: 60px;
  width: 50%;
}
.profile {
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 20px;
}
.vertical-line {
  position: absolute;
  border-left: 2px solid rgb(134, 134, 134);
  height: 80%;
  left: 50%;
  margin-top: 10%;
}

/*page2*/
/* contents */
.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
  width: 100%;
}
.content {
  max-width: 250px;
  height: 250px;
  background-color: rgb(65, 57, 57);
  margin: 30px;
  cursor: pointer;
  border-radius: 10px;
  border: 5px solid rgb(240, 240, 240);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
  position: relative;
}
.contents .content:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.678);
  pointer-events: none;
}
.contents .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content a {
  text-decoration: none;
  font-size: 0.5em;
  color: black;
  font-family: "Song Myung", serif;
}

.content h3 {
  font-size: 1rem;
  padding: 10px;
  text-transform: uppercase;
}
.content p {
  color: #363636;
  padding: 5px 0;
  font-size: 0.5rem;
}
.page2 {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgb(252, 247, 189)
  );
}
.page2 h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  color: rgb(255, 255, 255);
}

.section1 {
  font-size: 3rem;
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  animation: scroll 0.3s ease infinite alternate;
}
.skills {
  margin: 30px 0;
}
.skills ul {
  list-style: none;
  padding: 10px;
}
.skills ul li {
  margin-left: 10px;
}
@keyframes scroll {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

/* cursoranimation */

.cursor {
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}
.cursor.nav-active {
  background: rgba(255, 251, 1, 0.411);
  transform: scale(1.5);
}
.cursor.explore-active {
  transform: scale(2);
  color: white;
}

.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}
.cursor-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.5rem;
  transform: translate(-50%, -50%);
}

/*navigation*/
.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.589);
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
}
.nav a {
  text-decoration: none;
  font-size: 1em;
  padding: 5px;
  color: black;
}

/*media*/
@media (max-width: 700px) {
  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .content {
    max-width: 450px;
    margin-bottom: 100px;
    border: 5px solid rgb(145, 144, 144);
  }
  .cursor.nav-active {
    transform: scale(1);
  }
  .cursor.explore-active {
    transform: scale(2);
  }
  .logotext {
    font-size: 2rem;
  }
  .intro-section {
    height: 80vh;
  }
  .intro-section img {
    background-color: transparent;
  }

  .page1 {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
  }
  .right {
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .contact {
    margin-top: 0;
  }

  .profile {
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 20px;
  }
  .vertical-line {
    display: none;
  }

  .skills {
    margin: 30px 0;
  }

  .skills ul {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  .skills ul li {
    font-size: 1em;
  }
}

/* footer */
.page3 {
  background-color: rgb(252, 247, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.page3 .icons {
  display: flex;
  justify-content: center;
}
.page3 .icons a {
  margin: auto 10px;
  cursor: pointer;
  color: rgb(172, 168, 168);
  font-size: 2rem;
  transition: 0.5s;
}
.page3 .icons:hover a:not(:hover) {
  opacity: 0.1;
}
.page3 .icons a:hover {
  transform: translateY(-10px);
  color: black;
}

#logotext {
  color: white;
  z-index: 2;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

footer p {
  color: #cccccc;
}
